body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    font-size: 20px;

}
 
 
 
 nav {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;

}


nav a{
    padding: 0px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 0;

}

nav a:hover{
    color: rgb(123, 255, 218);
}

header{
    background-image: url(image/image.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 2rem;
    padding-bottom:100px;
    color: hsl(230, 99%, 30%);
    -webkit-text-stroke: 1px black;
    font-size: 2rem;
}

h1{
    font-size: 40px;
    margin-bottom: 4rem;
    text-decoration: underline 5px hsl(230, 99%, 30%);
    
}



.zero{
    text-align: center;
}

img{
    height: 20rem;
}
.yyds{
    float:right ;
    margin-left: 10px;
}
.ya{
    float: left;
    margin-right: 10px;
}
.yo{
    font-size: 25px;
    border-radius: 10px;
}
#Comments{
    border-radius: 20px;
    background-color: rgb(127, 188, 242);
    color:#f8f9fa ;
    font-size: 1rem;
    ;
}
.yu{
    text-decoration: underline 5px hsl(230, 99%, 30%);
}







